.body_backgorund 
{
    background-image:url("bc.gif.crdownload");
    background-position:center;
    background-size:cover;
}
#b_canvas
{
   border-width: 15px;
   background-color: aquamarine;
   border-style: double;
   border-color: darkgreen;
}
#play_song{
    background-color: darkmagenta; 
    color: white; 
}

#t{
    width: 400px;
    background-color:deeppink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

